#podlinkModal {
    padding: 0;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #f7f7f7;
}

/* native backdrop */
#podlinkModal::backdrop {
    background-color: hsla(0, 0%, 6%, .6);
}

/* polyfill backdrop */
#podlinkModal+.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 6%, .6);
}

#podlinkModal[open] {
    animation: slide-up 0.4s ease-out;
}

/* The following styles are for older browsers when using
   the polyfill. These aren't necessary for Chrome/Firefox. */
#podlinkModal {
    position: absolute;
    display: none;
    /* should center it, but not working in Safari */
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
}

#podlinkModal[open] {
    display: block;
}

#podlinkModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid hsla(0,0%,6%,.1);
}

#podlinkModalHeader h2 {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
}

#podlinkModalClose {
    padding: 0;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    line-height: 1;
}

#podlinkModalBody {
    position: relative;
    width: 200px;
    max-width: 100%;
    height: 500px;
    max-height: 80vh;
}

@media screen and (min-width:368px) {
    #podlinkModalBody {
        width: 368px;
        height: 300px;
    }
}

@media screen and (min-width:536px) {
    #podlinkModalBody {
        width: 536px;
        height: 220px;
    }
}

#podlinkModalIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slide-up {
    0% {
        transform: translate(0, 15px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}