#podlinkModal {
    padding: 0;
    border: none;
    border-radius: .25rem;
    background-color: #FFF;
    width: 26rem;
    max-width: calc(100vw - 2rem);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    --primary: #000;
}

@media (prefers-color-scheme: dark) {
    #podlinkModal {
        background-color: #000;
        --primary: #FFF;
    }
}

/* native backdrop */
#podlinkModal::backdrop {
    background-color: hsla(0, 0%, 6%, .6);
}

#podlinkModal[open] {
    animation: slide-up 0.4s ease-out;
}

#podlinkModal[open] {
    display: block;
}

#podlinkModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    color: var(--primary);
}

#podlinkModalHeader h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem;
}

#podlinkModalClose {
    padding: 1rem;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    line-height: 1;
    color: var(--primary);
    border-radius: 0;
    font-size: 1.5rem;
}

#podlinkModalClose:focus-visible {
    outline-color: var(--primary);
}

#podlinkModalGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#podlinkModalGrid a {
    display: flex;
    place-items: center;
    gap: 0.5rem;
    color: var(--primary);
    text-decoration: none;
    border-radius: 1rem;
    transition: 0.2s ease;
    font-size: 1rem;
}

#podlinkModal a:hover img, #podlinkModal a:focus-visible img {
    transform: scale(1.125);
}

#podlinkModal a:focus-visible {
    outline-color: var(--primary);
    outline-style: solid;
    outline-width: .125rem;
    outline-offset: .25rem;
}

#podlinkModalGrid a img {
    display: block;
    width: 3rem;
    transition: all 0.3s ease;
}

@keyframes slide-up {
    0% {
        transform: translate(0, 1rem);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
