#podlinkModal {
    padding: 0;
    border: none;
    border-radius: .25rem;
    background-color: #FFF;
    width: 100%;
    max-width: 30rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

/* native backdrop */
#podlinkModal::backdrop {
    background-color: hsla(0, 0%, 6%, .6);
}

#podlinkModal[open] {
    animation: slide-up 0.4s ease-out;
}

#podlinkModal[open] {
    display: block;
}

#podlinkModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    color: #000;
}

#podlinkModalHeader h2 {
    margin: 0;
    font-size: 1.5rem;
}

#podlinkModalClose {
    padding: 0;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    line-height: 1;
    color: #000;
}

#podlinkModalGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#podlinkModalGrid a {
    display: flex;
    place-items: center;
    gap: 1rem;
    color: #000;
    text-decoration: none;
    border-radius: 1rem;
    transition: 0.2s ease;
}

#podlinkModalGrid a:hover, #podlinkModalGrid a:focus-visible {
    background: hsla(0,0%,6%,.1);
    outline: none;
}

#podlinkModalGrid a img {
    display: block;
    width: 3rem;
}

#podlinkModalIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slide-up {
    0% {
        transform: translate(0, 1rem);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    #podlinkModal {
        background-color: #000;
    }

    #podlinkModalHeader {
        color: #FFF;
    }

    #podlinkModalClose {
        color: #FFF;
    }

    #podlinkModalGrid a {
        color: #FFF;
    }

    #podlinkModalGrid a:hover, #podlinkModalGrid a:focus-visible {
        background: hsla(0,0%,94%,.1);
    }
}
